$dropdown-class-prefix:                                     'dropdown';

$dropdown-include-inversed:                                 true !default;
$dropdown-include-utilities:                                true !default;
$dropdown-include-notifications:                            true !default;
$dropdown-include-task-list:                                true !default;
$dropdown-include-scrollable:                               true !default;
